{% load static %}
{% load post_extras %}

<h2>Welcome, {{ user.username }}!</h2>
<a href="{% url 'logout' %}">Logout</a> |
<a href="{% url 'upload' %}">Upload Post</a> |
<a href="{% url 'profile_upload' %}">Edit Profile</a> |
<a href="{% url 'profile_view' %}">My Profile</a>

<hr>

<!-- templates/main.html -->
{% for post in posts %}
  <div class="post">
    <h3><a href="{% url 'profile_view_other' post.user.username %}">{{ post.user.username }}</a></h3>

    <img src="{{ post.image.url }}" width="300px"><br>
    <p>{{ post.caption }}</p>

    <form method="POST" action="{% url 'like_post' post.id %}">
      {% csrf_token %}
      {% if user in post.likes.all %}
        <button type="submit">Dislike</button>
      {% else %}
        <button type="submit">Like</button>
      {% endif %}
    </form>

    <p>{{ post.likes.count }} likes</p>
  </div>
  <hr>
{% endfor %}
