<h2>My Profile</h2>

<p><strong>Username:</strong> {{ profile.user.username }}</p>
<p><strong>Bio:</strong> {{ profile.bio }}</p>
<p><strong>Location:</strong> {{ profile.location }}</p>

<p><strong>Followers:</strong>
  <a href="{% url 'followers_list' request.user.username %}">
    {{ followers_count }}
  </a>
</p>

<p><strong>Following:</strong>
  <a href="{% url 'following_list' request.user.username %}">
    {{ following_count }}
  </a>
</p>


<hr>
<h3>Your Posts</h3>
{% for post in posts %}
  <div>
    <img src="{{ post.image.url }}" width="200px"><br>
    <p>{{ post.caption }}</p>
  </div>
{% endfor %}
