<h2>Edit Profile</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Bio:</label><br>
    <textarea name="bio">{{ profile.bio }}</textarea><br><br>

    <label>Location:</label><br>
    <input type="text" name="location" value="{{ profile.location }}"><br><br>

    <label>Profile Image:</label><br>
    {% if profile.profileimg %}
        <img src="{{ profile.profileimg.url }}" width="100"><br>
    {% endif %}
    <input type="file" name="profileimg"><br><br>

    <button type="submit">Update</button>
</form>
